@font-face {
  font-family: 'Ethika';
  src: url('../assets/fonts/ethika-font/Ethika-ARXVA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SansSerifBookFlf';
  src: url('../assets/fonts/sansserifflf-font/Sansserifbookflf-Da7W.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: var(--font-sans-serif-book);
  background-color: var(--color-cream);
  color: var(--color-dark);
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
}

::selection {
  background: var(--color-navy);
  color: var(--color-cream);
}